{{! Use the main layout }}
{{!< main }}

<div class="profile-container">
    <div class="profile-avatar">
        <img src="{{#if user.avatar_url}}{{user.avatar_url}}{{else}}/avatar/{{user.username}}{{/if}}" alt="{{user.username}}'s avatar">
    </div>
    <section class="profile-info">
        <h2>{{user.username}}'s Profile</h2>
        <p>Member since: {{formatDate user.memberSince}}</p>
    </section>
</div>

<section class="user-posts">
    <h2>Your Posts</h2>
    {{#if posts.length}}
        <ul>
            {{#each posts}}
                <li>{{> post this user=../user}}</li>
            {{/each}}
        </ul>
    {{else}}
        <p>You have not posted yet.</p>
    {{/if}}
</section>

<section class="user-favorites">
    <h2>Your Favorites</h2>
    {{#if favorites.length}}
        <ul>
            {{#each favorites}}
                <li>{{> post this user=../user}}</li>
            {{/each}}
        </ul>
    {{else}}
        <p>You have not favorited any posts yet.</p>
    {{/if}}
</section>
